In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet("../data/processed/D1/")
df

,open,high,low,close,volume,ticket_name,price_change,daily_return,log_return,VMA,vol_change,TR,SMA,RSI,formatted_timestamp,is_weekday
0,0.12,0.14,0.12,0.14,170539824.0,AAPL,NaN,NaN,NaN,1.705398e+08,NaN,0.02,0.140000,NaN,1998-01-01 17:00:00,True
1,0.14,0.14,0.13,0.14,152723900.0,AAPL,0.00,0.000000,0.000000,1.616319e+08,-0.104468,0.01,0.140000,NaN,1998-01-04 17:00:00,True
2,0.14,0.17,0.13,0.16,433041952.0,AAPL,0.02,0.142857,0.133531,2.521019e+08,1.835456,0.04,0.146667,NaN,1998-01-05 17:00:00,True
3,0.16,0.16,0.15,0.15,251914152.0,AAPL,-0.01,-0.062500,-0.064539,2.792267e+08,-0.418268,0.01,0.150000,66.666667,1998-01-06 17:00:00,True
4,0.15,0.16,0.15,0.16,188994988.0,AAPL,0.01,0.066667,0.064539,2.913170e+08,-0.249764,0.01,0.156667,75.000000,1998-01-07 17:00:00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795347,288.59,290.99,282.43,282.43,146485.0,ZBRA,-6.17,-0.021379,-0.021611,9.442767e+04,0.766689,8.56,286.163333,23.165138,2024-03-07 17:00:00,True
2795348,282.60,282.60,282.59,282.59,667.0,ZBRA,0.16,0.000567,0.000566,7.668900e+04,-0.995447,0.17,284.540000,40.501446,2024-03-08 17:00:00,False
2795349,282.30,283.54,279.19,280.28,90136.0,ZBRA,-2.31,-0.008174,-0.008208,7.909600e+04,134.136432,4.35,281.766667,13.292434,2024-03-10 17:00:00,True
2795350,282.29,286.91,278.45,285.44,78432.0,ZBRA,5.16,0.018410,0.018243,5.641167e+04,-0.129848,8.46,282.770000,38.550725,2024-03-11 17:00:00,True
2795351,283.96,286.16,282.33,284.50,152719.0,ZBRA,-0.94,-0.003293,-0.003299,1.070957e+05,0.947152,3.83,283.406667,62.077013,2024-03-12 17:00:00,True

In [ ]:
df.dtypes